@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
 font-family: 'robotoregular';
  font-size: 13px;
  line-height: 1.42857143;
}


body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9253c3+0,3e3092+100 */
background: #9253c3; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkyNTNjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZTMwOTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #9253c3 0%, #3e3092 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #9253c3 0%,#3e3092 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #9253c3 0%,#3e3092 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9253c3', endColorstr='#3e3092',GradientType=0 ); /* IE6-8 */
min-height:900px;

}

.topbar {
	width:100%;
	display:block;
	float:left;
	padding:10px 0px;
	border-bottom:1px solid #CCC;
	margin-bottom:40px;
	background:#FFF;}
	
.textarea {
	resize:none;}
	

label {
	
	}
	
.mockimg {
	width:100%;
	max-width:531px;}
	
	
	
	
	
.subsection {
	width:100%;
	display:block;
	float:left;
	padding:25px 0px;
	background:#FBFBFB;}
	

.bannerpos {
	display: block;
    float: left;
    width: 100%;
    position: relative;
	min-height: 520px;}	
	
.bannerhead {
	width:100%;
	display:block;
	float:left;
	font-size:35px;
	color:#FFF;
	text-align:center;
	margin-bottom:20px;
	 font-family: 'robotobold';
	}
	
.bannertext{
	width:100%;
	display:block;
	float:left;
	font-size:14px;
	color:#FFF;
	text-align:center;
	}
	
.inlinerow {
	width:100%;
	display:block;
	float:left;}	
	
.bannertext-align {
	position: absolute;
    right: 0px;
    top:20px;}	
	
.Mbot20 {
	margin-bottom:20px;}	
	
.footerhead {
	text-align:center;
	padding:20px 0px;
	font-size:18px;
	color:#6d6d6d;
	font-family: 'robotobold';}	
	
.footer-subhead {
	text-align:left;
	padding:15px 0px;
	font-size:14px;
	color:#333;
	font-family: 'robotobold';}	
	
.footer-text {
	text-align:left;
	margin-bottom:15px;
	font-size:13px;
	color:#7e7e7e;
	}	
	
.footerstripe {
    width: 100%;
    display: block;
    float: left;
    padding: 10px 0px;
    text-align: center;
    color: #c9c9c9;
    font-size: 12px;
    border-top: 1px solid #585858;
    background: #3b3b3b;
}	


/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
	  
.bannerpos {
	min-height: 420px;}
	
.bannertext-align {	
    bottom: 3%;}	
	  

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	  
.bannertext-align {	
    bottom:10%;}
	  
}		
						 	


.successmsg-head {
	font-size:27px;
	font-family: 'robotobold';}
	
.successmsg {
	font-size:15px;
	margin-top:10px;
	margin-bottom:30px;}
	
	
.manditory {
	font-weight:bold;
	font-size:14px;
	line-height:normal;
	color:#df0b0b;}	
	
.alert {
    padding: 5px 12px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 5px;
}

.errormsg-head {
	font-size:27px;
	font-family: 'robotobold';
	color:#C00;}		