.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
	font-size: 20px;
	font-weight:bold;
}
.sectionheads {
	width: 100%;
	display: block;
	float: left;
	font-size: 17px;
	padding-bottom: 15px;
}
.subsectionheads {
	width: 100%;
	display: block;
	float: left;
	font-size: 16px;
	margin-top: 20px;
	padding-bottom: 15px;
}
.container-fluid {
	display:block;
}
.side-menu {
	position:absolute;
	width: 300px;
	background-color: #f8f8f8;
	border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
	border: none;
	background:none !important;
}
.side-menu .navbar-header {
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
	float:left;
}
.side-menu .navbar-nav .active a {
	background-color: transparent;
	margin-right: -1px;
	border-right: 5px solid #662d91;
}
.side-menu .navbar-nav li {
	display: block;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
	padding: 15px;
}
.side-menu .brand-name-wrapper {
	min-height: 50px;
	padding-left:15px;
}
.side-menu .brand-name-wrapper .navbar-brand {
	display: block;
}
/* Main body section */
.side-body {
	margin-left: 310px;
}
.helptextbox {
	background: #f0f8ff;
	border-radius: 7px;
	border: 1px dashed #337ab7;
	padding: 10px;
	margin-bottom: 10px;
}
.panel-title > a:before {
	float: right !important;
	content:"\2212";
	padding-right: 5px;
	font-weight:bold;
}
.panel-title > a.collapsed:before {
	float: right !important;
	content:"\2b";
}
.panel-title > a:hover, .panel-title > a:active, .panel-title > a:focus {
	text-decoration:none;
}
.inlinerow {
	width: 100%;
	display: block;
	float: left;
}

/* small screen */
@media (max-width: 768px) {
 .side-menu {
 position: relative;
 width: 100%;
 height: 0;
 border-right: 0;
 border-bottom: 1px solid #e7e7e7;
}
 .side-menu .brand-name-wrapper .navbar-brand {
 display: inline-block;
}
  /* Slide in animation */
  @-moz-keyframes slidein {
 0% {
 left: -300px;
}
 100% {
 left: 10px;
}
}
 @-webkit-keyframes slidein {
 0% {
 left: -300px;
}
 100% {
 left: 10px;
}
}
 @keyframes slidein {
 0% {
 left: -300px;
}
 100% {
 left: 10px;
}
}
 @-moz-keyframes slideout {
 0% {
 left: 0;
}
 100% {
 left: -300px;
}
}
 @-webkit-keyframes slideout {
 0% {
 left: 0;
}
 100% {
 left: -300px;
}
}
 @keyframes slideout {
 0% {
 left: 0;
}
 100% {
 left: -300px;
}
}
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
 -moz-animation: slidein 300ms forwards;
 -o-animation: slidein 300ms forwards;
 -webkit-animation: slidein 300ms forwards;
 animation: slidein 300ms forwards;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
}
 .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: relative;
 width: 300px;
 top: 47px;
 height: 100%;
 border-right: 1px solid #e7e7e7;
 background-color: #f8f8f8;
 -moz-animation: slideout 300ms forwards;
 -o-animation: slideout 300ms forwards;
 -webkit-animation: slideout 300ms forwards;
 animation: slideout 300ms forwards;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
}
  /* Uncomment for scrollable menu -> see top comment */
  /*.absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }*/
  @-moz-keyframes bodyslidein {
 0% {
 left: 0;
}
 100% {
 left: 300px;
}
}
 @-webkit-keyframes bodyslidein {
 0% {
 left: 0;
}
 100% {
 left: 300px;
}
}
 @keyframes bodyslidein {
 0% {
 left: 0;
}
 100% {
 left: 300px;
}
}
 @-moz-keyframes bodyslideout {
 0% {
 left: 300px;
}
 100% {
 left: 0;
}
}
 @-webkit-keyframes bodyslideout {
 0% {
 left: 300px;
}
 100% {
 left: 0;
}
}
 @keyframes bodyslideout {
 0% {
 left: 300px;
}
 100% {
 left: 0;
}
}
  /* Slide side body*/
  .side-body {
 margin-left: 5px;
 margin-top: 70px;
 position: relative;
 -moz-animation: bodyslideout 300ms forwards;
 -o-animation: bodyslideout 300ms forwards;
 -webkit-animation: bodyslideout 300ms forwards;
 animation: bodyslideout 300ms forwards;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
}
 .body-slide-in {
 -moz-animation: bodyslidein 300ms forwards;
 -o-animation: bodyslidein 300ms forwards;
 -webkit-animation: bodyslidein 300ms forwards;
 animation: bodyslidein 300ms forwards;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
}
  /* Hamburger */
  .navbar-toggle {
 border: 0;
 float: left;
 padding: 12px;
 border-radius: 0;
}
 .navbar-header {
    /* this is probably redundant */
   position:fixed;
 z-index: 3;
 background-color: #7871ac;
}
 .side-menu-container {
 display:none;
}
 .navbar-default .navbar-toggle .icon-bar {
 background-color: #fff !important;
}
.navbar-default .navbar-toggle {
 background-color:#595386;
}
 .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
 background-color:#595386;
}
}
