.delete-icon-1{
	background:none !important;
	color: #337ab7 !important;
    text-decoration: none !important;
}

.img-div{
	min-width: 10px;
	min-height: 10px;
	border-radius: 25px;
	width: 50px;
	float: left;
}

.phone-div{
    margin-bottom: 18px;
}

.phone-div .form-group:first-child{
    margin-bottom: 0px;
    margin-top: -15px;
}

.error-div{
	width: 100%;
	float: left;
	color: #a94442;
}

.margin-phone{
	margin-top: -5px;
}

.break-text{
	word-break: break-all;
}

.phone-block{
	width: 35%;
	display: block;
	float: left;
	margin-top: -1px;
}
.mob-block {
    width: 58%;
    display: block;
    float: left;
    margin-top: -1px;
}
#error-container {
  width: 100%;
  display:block;
  float:left;
  border: 1px;
  margin:15px 0px 15px 0px;
  background: #ffc4c4;
  overflow: visible;
  box-shadow: 5px 5px 2px #888888;
  position: relative;
}
#error-container-close {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
}
.alert-div {
    padding: 20px;
    background-color: #ff9900; /* Red */
    color: white;
    margin-bottom: 15px;
}
.rsvpbkgrnd {
    border-top: 0px !important;
    background: #f5d9b3;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.modal-footer-rsvp {
    padding: 15px;
    text-align: right;
}

.modal-header-rsvp {
    padding: 15px;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    background-color: #ffffff;
}
.custom-data-block {
  border: 1px solid #dae0e8;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 10px;
}
.custom-data-block-title{
    margin:-15px 0px 10px;
    border-bottom: 2px solid #dae0e8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: rgba(218, 224, 232, .15);
}
.custom_data_container{
    padding: 15px;
}
.custom_data_container .custom-data-item td > label {
  margin-top: 5px;
}

.tile{
    display:flex;
    flex-direction:column;
    position:relative;
    margin-bottom:20px;
    background-color:#FFFFFF;
    border:2px solid #DDDDDD;
    border-top: 4px solid #6cd2e1;
    border-radius:4px;
    padding:10px;
    box-shadow:0 5px 10px 0 rgba(0,0,0,0.05);
    min-height: 85px;
    width: 100%;
}
.tile-title {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    cursor: default;
}
.tile:before,.tile:after{
    content:" ";
    display:table
}
.tile:after{
    clear:both
}
.tile--create-component{
    min-height:220px;
    margin-bottom:0
}
.tile_perimeter{
    display:flex;
    flex-direction:column
}
.tile_disabled{
    pointer-events: none;
    opacity: 0.4;
}
.tile-half-full {
    border-top: 4px solid #e2ac86;
}
.tile-almost-full{
    border-top: 4px solid #e41834;
}
.tile-full .selection-panel {
    background-color:#eae4e4;
    pointer-events: none;
    opacity: 0.4;
}
.tile h3{
   text-align: left;
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.tile h3,.tile h3 a{
    color:#126b22;
}
.tile .tile_content{
    display:flex;
    flex-direction:column;
    height: 85px;
}

.tile .tile_content .slot-expired-text {
    color: red;
}
.tile .tile-title .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.tile .tile-title .ui-actions{
    margin-top:auto;
    margin-bottom:0;
    position:relative;
    z-index:5;
    padding-bottom:0
}
.tile .tile-title .ui-actions--affix{
    background:none;
    position:absolute;
    bottom:0;
    left:0;
    right:0
}
.tile .tile_content p,.tile .tile_content dd{
    margin:0 0 .5em 0;
    color:#314b73;
    font-size:14px
}
.tile .tile_content p:last-child,.tile .tile_content dd:last-child{
    margin-bottom:0
}
.tile .tile_content dl{
    margin:0;
    overflow:hidden;
}
.tile .tile_content .offer-description{
  overflow:hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;  
}
.tile .tile_content dl dt{
    color:#1a283d;
    font-weight:500
}
.tile .actions{
    position:relative;
    z-index:20;
    float:none
}
.tile:hover{
    cursor:pointer;
}
.blockrow-head {
    padding-right: 15px;
    padding-left: 15px;
}
.bevco-order-page-header {
    padding-bottom: 25px;
    margin: 5px 0 20px;
    border-bottom: 1px solid #eeeeee;
}
.bevco-order-expired {
    color: #ff0000;
}
.bevco-booking-error-msg {
    margin: 15px;
    border: 2px solid #F0592A;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}
#booking-error h3 {
    margin: 20px;
}
.bevco-slot-hint {
    margin: 15px;
    color: #de0d0d;
}
.tile-choosen{
    border-color: #06f50e !important;
    box-shadow:0 5px 10px 0 rgba(0,0,0,0.1) !important;
    background-color: #c8f3c9 !important;
}
.more-info{
    width: 85px;
    float: left;    
    color: #0099d6;
}
.more-info i{
    float: left;
    line-height: 19px;
    padding-right: 5px;
}
.more-info:hover{
    text-decoration: none;
    color: #056890;
}
.more-info ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b !important;
    text-decoration: none !important;
    background-color: #f8f9fa !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #007bff !important;
}
.slot-panel .popover.top{
    min-width:345px;
}
.Mleft5 {
	margin-left:5px !important;
}
.MBotton40 {
	margin-bottom:40px !important;
}